n8n/Ai Daily Briefing (1).json
{
  "name": "Ai Daily Briefing",
  "nodes": [
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "You are a research assistant for advertising strategists. Return high-signal AI news relevant to advertising/marketing from the last 24 hours. Include source URLs.",
              "role": "system"
            },
            {
              "content": "Give me 3 AI-related developments in advertising/marketing from the last 24 hours. For each item return:\n- Title\n- 1–2 sentence summary\n- Source URL\nKeep it concise."
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "29781e40-477b-4889-acd3-4bb5528dbbc5",
      "name": "Message a model",
      "credentials": {
        "perplexityApi": {
          "id": "Ur2njCA3263bf0KO",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are creating a LinkedIn post for Sav Banerjee, an advertising strategist who shares daily AI intelligence.\n\nHere is today's research from Perplexity:\n\n{{ $json.message }}\n\nCITATIONS:\n{{ JSON.stringify($json.citations) }}\n\n---\n\nCreate a short, data-focused LinkedIn post:\n\n[Strong opening line with the most surprising stat or trend from the research]\n\nThe data tells a clear story:\n\n- [Data point 1 with specific number/company] (Source Name)\n- [Data point 2 with specific number/company] (Source Name)\n- [Data point 3 with specific number/company] (Source Name)\n\n[Two-part closing:\n- First sentence: What this means (the implication)\n- Second sentence: What strategists should do about it (the action)]\n\n---\nThis briefing was assembled by an automated n8n + Perplexity + Claude workflow I'm building for daily AI advertising intelligence—and edited by me before publishing.\n\nRULES:\n- Keep under 200 words total\n- Lead with most surprising data point from research\n- Include source name in parentheses after each bullet point\n- Use ONLY source names from citations provided above\n- ALWAYS end with actionable insight: what should strategists DO in response to this trend?\n- Examples of actionable closings:\n  * \"Strategists who can [specific skill] will be the ones clients keep on retainer.\"\n  * \"Time to [specific action] before [specific consequence].\"\n  * \"The opportunity: [specific tactic] while competitors are still [outdated approach].\"\n- Match tone: practitioner perspective, direct, data-driven\n- No hashtags\n- No URLs in post body\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        624,
        0
      ],
      "id": "c0bbd798-a021-47ac-8015-69d9e0e8e275",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 1500,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        992,
        240
      ],
      "id": "e4157998-a9cb-4ea8-9dd0-a264f36da401",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "pME3CfqdY7y1mAaP",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"briefing_items\": [\n    {\n      \"title\": \"Ad tech update\",\n      \"summary\": \"AI is changing ad production cycles.\",\n      \"url\": \"https://example.com\"\n    }\n  ],\n  \"linkedin_post\": \"Here is my daily AI update...\",\n  \"hashtags\": [\"#AI\", \"#Marketing\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        240
      ],
      "id": "b0a81020-65ce-4c34-a180-f807b4d61551",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        144,
        0
      ],
      "id": "f655bff2-9f42-4e31-bdb2-8835c6df4977",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.data.approved}}",
                    "rightValue": "Approve & Post",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "bc219d26-63ea-47bb-882a-816ccc92881a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6407380b-3c45-4ee9-be04-989d13bd8240",
                    "leftValue": "={{$json.data.approved}}",
                    "rightValue": "Regenerate Draft",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1200,
        -16
      ],
      "id": "9209743d-300b-4d3f-9ec1-c05a16eecc93",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "sav@ensopartners.co",
        "subject": "=Approval Needed: LinkedIn Post for {{ $now.format('MMM dd') }}",
        "message": "=<h3>LinkedIn Post Review</h3>\n\n<p><strong>Draft:</strong></p>\n<p style=\"border: 1px solid #ddd; padding: 12px; background: #f9f9f9;\">{{ $json.output.linkedin_post }}</p>\n\n<p><strong>Reply with one word:</strong></p>\n<ul>\n  <li><strong>APPROVE</strong> → Posts to LinkedIn</li>\n  <li><strong>REJECT</strong> → Stops workflow</li>\n  <li><strong>REGEN</strong> → Claude generates new draft</li>\n</ul>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        976,
        0
      ],
      "id": "31f3ed9b-c9be-4e3f-a19f-547b8e1e1045",
      "name": "Send message and wait for response",
      "webhookId": "1a2f2c55-52aa-434b-af38-99fde0fe7f90",
      "credentials": {
        "gmailOAuth2": {
          "id": "GvVKGJCO4dpQA6nE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "person": "2jbIhdTlzA",
        "text": "={{$node[\"Basic LLM Chain\"].json.output.linkedin_post}}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1488,
        -48
      ],
      "id": "7b6065fd-1ed7-49c9-abfd-245a03ccd5f1",
      "name": "Create a post1",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "djMBI1Q3N0qcYglV",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d6f2b2f-0920-46c3-b633-317a09b769b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd5a42e8baa8baa5b86c3f463e61fd73d0eb21c15f0fb04b8c9c8e6088b82c7c"
  },
  "id": "WGUblVXEXMtNNnrs",
  "tags": []
}